/* makes checkbox more similar to those in netflix */
.custom-checkbox-dark {
  background-color: #333;
  border-color: #555;
  border-radius: 4px;
}
.custom-checkbox-dark:checked {
  background-color: #333;
  border-color: #555;
}
.custom-checkbox-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
